<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Hello landing page</h1>
    <form action="/toGame" id="game-form">
        <input type="text" id="username" name="username">
        <button type="submit" id="submit">Submit</button>
    </form>

    <!-- <script>
        $('#game-form').on('submit', (e)=>{
            e.preventDefault();
            let name = document.querySelector('#username').value;
            console.log(name);
            console.dir(e);
        })
    </script> -->

    <!-- <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script> -->

    
</body>
</html>